/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo{
  position: relative;
  top:-30px;
  left: 0px;
}

#download-button{

  background-color: #4891d9;
}


#yleoba{

  color: rgba(146, 123, 58, 0.678);
  opacity: 0.9;
  font-size: 50px;
  left: 10;
}

.iconbgcolor{
  background-color: #009ED0;
  margin-right: 20px;
  opacity: .62;

}

.icon1 {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}
.slogan{
  opacity:0.45;
  color: #050505;
  font-size: 55px;
  text-transform: uppercase;
  padding-left: 30px;
  font-weight: 500;
}

.loginbtn{
  background-color: #009ED0;
  opacity: 0.8;
  margin-top: 80px;
  height: 60px;
  width: 200px;
  font-weight: bold;
}
.main-container{
  background: url("../backgroundimg.jpg");
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-size: 120%;

}

footer{
  margin-top: 0px;
}
.row-icons{
  padding-top: 180px;
  color: white;

}

.iconbgcolor
.col{
  min-height: 200px;
  opacity: 0.62;
}

.icon-row{
  min-height: 200px;
}
.main-container
button{
  margin-left: 0px;
}
.capitalcase{
  text-transform: uppercase;
  font-size: 16px;
  align-content: center !important;
  font-weight: bold;
}
.btnalign{
  margin-left: 80px;
}
